body {
    text-align: center;
    letter-spacing: 1px;
    margin: 0;
  }
  
  header {
    background-color: #f15b31;
    color: #ffffff;
    padding: 30px 20px;
  }
  
  nav {
    background: #00a6b3;
    color: white;
    padding: 20px 0;
  }
  
  #main {
    width: 850px;
    margin: 35px auto;
  }
  
  h1, h2, h3, a {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
  }
  
  h1 {
    color: White;
    font-size: 45px;
    font-weight: 400;
    margin: 0;
  }
  
  h2 {
    color: #0d2c40;
    font-size: 20px;
    font-weight: 600;
  }
  
  p {
    font-family: "Droid Serif", serif;
    line-height: 26px;
    font-size: 18px;
    text-align: justify;
  }
  
  #objective {
    display: inline;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    border: 2px dotted black;
  }
  #objective:hover {
    background: yellow;
  }
  
  a {
    color: white;
    font-size: 18px;
    font-weight: 600px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    margin: 0 20px;
  }
  
  a:hover {
    border-bottom: 2px solid white;
  }
  
  img {
    margin: 30px 8px 0 8px;
  }
  
  footer {
    text-transform: uppercase;
    padding: 0 20px;
    background: #0d2c40;
    color: white;
    font-size: 14px;
    letter-spacing: .08em;
    font-weight: 500;
  }
  
  .copyright {
    font-family: "Raleway", sans-serif;
    float: left;
  }
  
  .message {
    font-family: "Raleway", sans-serif;
    float: right;
  }
  
  .clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
  }
  
  .name {
    color: #f15b31;
    font-weight: 700;
  }
  
  .status {
    display: grid;
    grid-template-columns: 400px 400px;
    height: 30px;
  }
  
  #score {
   align-self: start;
  }
  
  #message {
    align-self: end;
  }
  
  #reset {
    margin-top: 20px;
    border: 2px solid white;
    color: white;
    background: #00a6b3;
    font-size: 15px;
    font-weight: bold;
    visibility: hidden;
  }
  #reset:hover {
    background: #f15b31;
  }
  